

nav{
    /* position:absolute; */
    z-index:1000;
    width:100vw;
    margin:auto;
    border-radius:0px;
    display:flex;
    justify-content: space-between;
    background: var(--primary-black);
    padding: 10px 30px;
    align-items: center;
    /* left: 50%;
    transform: translateX(-50%);
    position:absolute; */


}

.nav-links{
    /* display:flex; */
    /* gap:25px; */
    display:none;


}
.nav-link{
    text-decoration: none;
    color:var(--white);
    font-weight: 500;

}

.right-nav-links{
    display: none; 
}

.profile{
    background: transparent;
    color:var(--white);
    border:none;
}

.hamburger{
    display:flex;
    color:var(--white);
    background:none;
    border:none;


}
.mobile-nav-links{
    display: flex;
    flex-direction: column;
    width:90%;
    margin:auto;
    box-shadow: 0 2px 10px var(--black);
    gap:5px;
    background-color: var(--white);
}
.mobile-nav-link{
    color:var(--black);
    text-decoration: none;
    padding:10px 30px;
    font-weight: 500;
}


@media (min-width:768px) {
    nav{
        border-radius:300px;
        width:90vw;
        position:absolute;
        transform: translateX(-50%);
        left: 50%;

    }
    .nav-links{
        display: flex;
        gap:25px;

    }
    .hamburger{
        display:none;
    }
    .right-nav-links{
        display: flex;
        gap:25px;

    }

    
}