.color-primary-green{
    color:var(--primary-green);

}

.Hero{
    position:relative;
    height:100vh;
}
.swiper  .swiper-slide img{
    height:100%;
    width:100%;
}
.swiper-button-next,
.swiper-button-prev{
  color: white;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
}
.hero-container{
    position:absolute;
    top:100px;
    z-index:1000;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    flex-direction: column;
    align-items: center;

}
.hero-container img{
    width:30%;

}
.hero-heading{
    font-size:65px;
    text-align: center;
    color:white;
    padding:20px;
}

.hero-heading span{
    color:var(--primary-green);
    text-decoration: underline;

}

.hero-phone-call{
    display:flex;
    align-items: center;
    gap:10px;
    color:white;
    border: 2px solid var(--primary-green);
    padding:5px 25px;
    border-radius: 100px;
    background-color: var(--background-green);

}

.inquiry-tag{
    color:var(--primary-green);
    text-decoration: underline var(--primary-green);
    

}

.search-box{
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.search-tabs{
    color:var(--white);

}
.search-tab{
    padding:10px 30px;
    color:rgba(var(--white)); 

    /* From https://css.glass */
    background: rgba(var(--white), 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(var(--white), 0.24);

}

.search-tab:nth-child(1)
{
    border-top-left-radius: 20px;
    
}
.search-tab:nth-child(5)
{
    border-top-right-radius: 20px;

}
.search-tab:focus{
    background-color: var(--primary-green);

}
.search-fields{
    width:70vw;
    display: flex;
    align-items: center;
    /* border-radius: 333px; */
}
.search-field{
    padding:18px 0px 18px 35px;
    color:rgba(var(--white)); 
    background: rgba(var(--white), 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(var(--white), 0.24);

}


.search{
    padding:17px 25px;
    background-color: var(--primary-green);
    color:rgba(var(--white));
    font-size: 16px;
    font-weight:500;
    border: none;
    border-radius: 0px 200px 200px 0px;

}

input::placeholder{
    color:rgba(var(--white))
}
.label{
    position:relative;
}
.search-field:nth-child(1)
{
    border-radius: 200px 0px 0px 200px;
}
.search-icon{
    position:absolute;
    z-index:10;
    top:50%;
    transform: translateY(-60%);
    left:2%;


}
.search-label{
    position:absolute;
    z-index:10;
    padding:5px 35px;
/* 
    left:30%;
    transform: translateX(-30%); */
    font-size:10px;

}



@media (min-width:768px) {
    .hero-container{
        top:20%;
    }

    .hero-container img{
        width:10vw;
    }
}